target
*.class
*.jar
*.war
*.ear
.DS_Store
.idea
*.iml
.vscode
.settings
.project
.classpath
testdb.mv.db
testdb.trace.db
*.db
sonarqube-docker/sonarqube_conf/
sonarqube-docker/sonarqube_data/
sonarqube-docker/sonarqube_extensions/
sonarqube-docker/sonarqube_bundled-plugins/
sonarqube-docker/postgresql/
sonarqube-docker/postgresql_data/
